<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="content-height:device-height,content-width=device-width,initial-scale=1.0">
        <title>Chatting App</title>
        <link href="/styles/main.css" rel="stylesheet" >
        <link href="/styles/modal.css" rel="stylesheet" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body onresize="updateChange();" onload="update();">
        <div class="modal" id="sign-modal">
            <div class="modal-content">
            <div class="modal-header">
                <h1>Sign in</h1>
            </div>
            <div class="modal-body">
                <label for="login-user-name">Name</label>
                <input type="text" id="login-user-name" placeholder="Enter name" autofocus='autofocus'>
                <label for="login-user-password">Password</label>
                <input type="password" id="login-user-password" placeholder="Enter password">
            </div>
            <div class="modal-footer">
                <button id='sign-user-button' >Sign in</button>
            </div>
        </div>
    </div >
        <div id="show-connections" class="show">
            <div class="search-pannel">
                <div class="h">Welcome</div>
                <input type="text" id="search-box" autofocus="autofocus" placeholder="Search here">
            <button id="search-button" class="button">Search</button>
            </div>
            <div><button id="add-connection">+</button></div>
            <div id="users">
            </div>
        </div>
        <div class="modal" id="add-modal">
            <div class="modal-content">
            <div class="modal-header">
                <h1>add connection</h1>
                <span class="close">&nbsp;&nbsp;&times;&nbsp;&nbsp;</span>
            </div>
            <div class="modal-body">
                <label for="new-user-name">Name</label>
                <input type="text" id="new-user-name" placeholder="Enter name">
            </div>
            <div class="modal-footer">
                <button class="cancel">cancel</button>
                <button id='add-user-button' >add</button>
            </div>
        </div>
    </div >
        <div id="show-chat" class="show">   
            <div class="h">CHAT</div>
            <div><button id="back-button" class="button">Back</button></div>
            <div id="chat">
                <div id="chat-history"></div>
            <div id="send-control">
                <input type="text" id="input-box" autofocus="autofocus" placeholder="Enter text to send">
                <button id="send-button" class="button">Send</button>
            </div>
            
        </div>
    </div>
    
        <script src="/socket.io/socket.io.js"></script>
        <script src="/scripts/main.js"></script>
        <script src="/scripts/modal.js"></script>
    </body>
</html>